aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
async-timeout
attrs
backports.zoneinfo
beautifulsoup4
celery
certifi
charset-normalizer
distro
dj-database-url
Django
django-celery-results
exceptiongroup
frozenlist
git-filter-repo
gunicorn
h11
httpcore
httpx
idna
jiter
multidict
openai
outcome
packaging
propcache
psycopg
psycopg2-binary
pydantic
pydantic_core
PySocks
python-dotenv
python-nmap
redis
requests
rq
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
wsproto
yarl
