aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
async-timeout
attrs
backports.zoneinfo
beautifulsoup4
certifi
charset-normalizer
distro
Django
exceptiongroup
frozenlist
git-filter-repo
gunicorn
h11
httpcore
httpx
idna
jiter
multidict
openai
outcome
packaging
propcache
pydantic
pydantic_core
PySocks
python-dotenv
python-nmap
requests
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
wsproto
yarl
